# IMPORTANT: comment out if making changes other than reconfiguring
Cogs/nsfw.py


# cache, project files, ide folders etc.
**/__pycache__
**/.idea

# vps stuff
launch.sh
log.txt

# sensitive data (and files that formerly contained sensitive data)
token.txt
config.txt
conf.txt
